
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Babylonica&family=Benne&family=Electrolize&family=Golos+Text:wght@800&family=Inconsolata:wght@900&family=Lato&family=Libre+Franklin:wght@700&family=Lumanosimo&family=Montserrat:wght@700&family=Noto+Serif+Ahom&family=Oswald:wght@500;600;700&family=Sassy+Frass&family=Sen:wght@400;700&family=Source+Code+Pro:wght@300&display=swap');

.prodCard{
  border-radius: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
  color: black;
  font-size: 30px;
  margin-top: 40px ;
  padding-bottom: 30px;
  border:3px solid black
}

.prodCard:hover{
transition: 0.5s;
background-color: black;
color: white;
cursor: pointer;
border: 10px solid black;
}

.form{
  border: 1px dashed black;
  padding: 40px;
  margin-top: 40px;
  width: 60%;
  font-size: 20px;
}

.mR{
  margin-right: 10px;
}

.m5{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.formInput{
  font-size: 20px;
}

.formBtn{
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  margin: 10px;
  background-color: orangered;
}

.green{
  background-color: green;
}

.orange{
  background-color: orangered;
}

.formBtn:hover{
  background-color: white;
  color: black;
  transition:0.5s;
  cursor: pointer;
  border: 1px solid black;
}


.model{
  font-size: 30px;
  font-family: 'Lumanosimo',cursive;
}

